html{height: 100%;}
body{
	min-height: 100%;
	position: relative;
	margin:0 auto;
	width: 1400px;
	color:gray;
}
p{
	font-size: 16px;
}
span{
	font-size: 24px
}
a{color:white;}
#grayline{background-color: gray;
	color:white;
	width: 100%;
	height: 45px;
				}

	#grayline::after,#grayline>div::after, #menu>ul::after,#menu::after{
		clear:both;
		content:"";
		display:block;
	}
	#grayline>div{width:60%;float: right;}
	#grayline>div>input{width: 15%;float: right; }
	#grayline>div>p{width: 45%;
		float:left; }
	#grayline>div>label, #grayline>div>p{
		
		display: block;
		
		box-sizing:border-box;}
	#grayline>p:first-child {
		float:left;
		display: block;
		width: 40%;
		box-sizing:border-box;

	}

	#logo{
		width: 50%;
		margin:0;
		float:left;
	}
	#menufix{
	background-color: white;
	height: 65px;
	width: 1400px;
	margin-bottom:40px;
	border-bottom: 1px solid gray;
	position: fixed;
	display:none;
	top:0;
}
#menu{
	height: 65px;
	border-bottom: 1px solid gray;
}
	#menu>ul{cursor: pointer;
		float:right;

	}
	#menu>ul>li{list-style: none;
				float:left;
				height: 65px;
				width: 90px;
			}
	#menu>ul>li:hover{border-bottom: 2px solid gray;

	}	
	#menu>ul>li>p{height: 65px;
					line-height: 65px;
					}
	#menu>ul>li:hover ul.submenu{display:block;
	}		
		ul.submenu{display:none;
				position: absolute;
				background-color: white;
				border:1px solid #b7b6b7;
				list-style: none;
				margin-top:10px;
		}
		ul.submenu>li{
					padding: 5px;
					margin: 0;
		}


#content{
	width: 100%;
	height: 1400px;
	padding-bottom: 150px;
}	
#banner{position: relative;left:0;right: 0;height: 300px;}
	#banner>div{
		position: absolute;
		width: 100%;}
	#banner>div:first-child{
		background-image: url(img/tree.jpg);
	}
	#logo{
		padding-top:10px;
	}
	#banner>div:nth-child(2){
		background-image: url(img/kedr.jpg);
	}	
#template>div{
	width: 100%;
	height: 350px;}
#template>div::after{
	display:block;
	clear:both;
	content:"";
}
	#template>div:first-child{text-align: center;
	}
	#template>div>div{
		width: 50%;
		display:block;
		float:left;
	}
	#template #btn{color:white;
		background-color: #443d40;
		border-radius: 20px;
		width: 140px;
		height: 60px;
		text-align: center;
		}
	 	#btn>span{height:60px ;
	 		line-height:60px ;
	 		font-size: 18px;}	
#portfolio{
	text-align: center;
}
	#portfolio>div{
	text-align: center;
	width: 600px;
}
	#portfolio>div>ul{
		margin:0;
		display:block;
		}
	#portfolio>div>ul::after{
		content:"";
		clear: both;
		display:block;

	}
	#portfolio>div>ul>li{
		display:block;
		border:1px  solid gray;
		border-radius: 16px;
		color:gray;
		background-color: white;
		float:left;
		height: 60px;
		list-style: none;
	}
		#portfolio>div>ul>li>p{
			height: 60px;
			line-height: 60px;
			padding:0 10px;
			font-size: 16px;
		}
		
#footer{
	display: block;
	position: absolute;
	height: 120px;
	bottom: 0;
	background-color:#444444;
	color:white;
	width: 100%;
	text-align: center;
}
