html{height: 100%;
}
body{
	min-height: 100%;
	position: relative;
	margin:0 auto;
	max-width: 1500px;
	overflow-x:hidden;
	color:gray;

}
p{
	font-size: 16px;
}
span{
	font-size: 24px;
	padding: 10px;
}
a{color:white;}
.hidden{
	display:none;
}

#grayline{background-color: gray;
	color:white;
	width: 100%;
	height: 45px;
				}

	#grayline::after,#grayline>div::after, #menu>ul::after,#dynampart::after,#menu::after{
		clear:both;
		content:"";
		display:block;
	}
	#grayline>div{
		width:60%;
		float: right;}
	#grayline>div>input{
		width: 15%;
		float: right; 
		background-color: gray;
		border:none;}
	#grayline>div>p{width: 45%;
		float:left; }
	#grayline>div>label, #grayline>div>p{
		
		display: block;
		
		box-sizing:border-box;}
	#grayline>p:first-child {
		float:left;
		display: block;
		width: 40%;
		box-sizing:border-box;

	}

	#logo{
		width: 50%;
		margin:0;
		float:left;
	}

	#menufix{
	background-color: white;
	height: 65px;
	width: 1500px;
	margin-bottom:40px;
	border-bottom: 1px solid gray;
	position: fixed;
	display:none;
	top:0;
	z-index:100;
}
#menu{
	height: 65px;
	border-bottom: 1px solid gray;
}
	#menu>ul, #menufix>ul{cursor: pointer;
		float:right;
		margin:0;

	}
	#menu>ul>li,#menufix>ul>li{list-style: none;
				float:left;
				height: 65px;
				width: 90px;
			}
	#menu>ul>li:hover, #menufix>ul>li:hover{border-bottom: 2px solid gray;

	}	
	#menu>ul>li>p,#menufix>ul>li>p{
				height: 65px;
				line-height: 65px;
				margin:0;
					}
	#menu>ul>li:hover ul.submenu,#menufix>ul>li:hover ul.submenu{display:block;
	}		
		ul.submenu{
				display:none;
				position: absolute;
				background-color: white;
				border:1px solid #b7b6b7;
				list-style: none;
				top:12;
				width: 180px;
				border-top:3px solid gray;
				margin-left:0; 
		}
		ul.submenu>li{
					padding: 5px;
					padding-top:0;
					margin: 0;
		}


#content{
	width: 100%;

	padding-bottom: 160px;
}	
#banner{
	position: relative;
	width: 100%;
	height: 600px;
	color:white;
	text-align: center;
}
	
	#banner	#bannerbg{
			position:absolute;
			display: block;
			background-image: url(img/slide3.jpg);
			left:-2000px;
			right: -2000px;
			height: 600px;
			z-index:-1;

		}
	#bannertext>span{
		font-size: 40px;
	}
	#logo{
		padding-top:10px;
	}
#dynampart{
	text-align: center;
}	
#dynampart>span{
	display:block;
}
#dynampart>div{
	width:25%;
	height: 180px;
	display:block;
	float:left;
}
#dynampart>div>img{height:180px;}
#template{padding-top: 40px;
box-sizing:border-box;}
#template>div{
	width: 100%;
	height: 350px;}
#template>div::after{
	display:block;
	clear:both;
	content:"";
}
	#template>div:first-child{text-align: center;
		height: 80px;
	}
	#template>div>div{
		width: 50%;
		display:block;
		float:left;
	}
	#template>div>span{margin-top:10px; }
	#template>div>div>img{padding-right:0;float:right;}
	#template #btn{color:white;
		background-color: #443d40;
		border-radius: 20px;
		width: 140px;
		height: 60px;
		text-align: center;
		}
	 	#btn>span{height:60px ;
	 		line-height:60px ;
	 		font-size: 18px;
	 		display:block;
	 		padding: 0;
	 	}	
#portfolio{
	text-align: center;
	position: relative;


}
#portfolio>span{display: block;}
	#portfolio>div:nth-child(2){
	text-align: center;
	display:inline-block;
	
}
	#portfolio>div>ul{
		margin:0;
		display:block;
		}
	#portfolio>div>ul::after{
		content:"";
		clear: both;
		display:block;

	}
	#portfolio>div>ul>li{
		display:block;
		border:1px  solid gray;
		border-radius: 16px;
		color:gray;
		background-color: #f5f5f5;
		float:left;
		height: 46px;
		list-style: none;
	}
		#portfolio>div>ul>li>p{
			height: 46px;
			line-height: 46px;
			padding:0 10px;
			font-size: 16px;
		}
		#portfolio #btncoll{color:white;
		background-color: #443d40;
		border-radius: 20px;
		width: 160px;
		height: 60px;
		text-align: center;
		display: inline-block;

		}
		#portfolio  #btncoll>span{
			height:60px ;
			padding: 0 10px;
	 		line-height:60px ;
	 		font-size: 18px;
	 	}
	 	#collwrap{
	 		position: relative;
	 		height: 700px;
	 	}
	 	#portfolio>#collect{
	 		position: absolute;
	 		display: block;
	 		height: 700px;
	 		left:-2000px;
	 		right:-2000px;
	 	}
	 	#collect>div::after{
			clear:both;
			content:"";
			display:block;
	
	 	}
	 	
	 	#collect>div>div{
	 		float: left;
	 		display: block;
	 		
	 		
	 		position: relative;


	 	}
	 	#collect>div:nth-child(2){
	 		padding-top:80px;
	 	}
	 	#collect img{	

	 		width: 350px;
	 		display: block;

	 	}
	 	div.cover{
			position:absolute;
			left:0;right: 0;top: 0; bottom: 0;
			background-color: rgba(0,0,0,0.9);
			opacity:0.2;
			z-index:100;
			display:none;
		}
		#collect>div>div:hover div.cover{

			display:block!important;
		}
	 		#teambanner{
	 		position: relative;
	 		width: 100%;
	 		height: 500px;
	 		text-align: center;
	 		color:white!important;

	 	}	
	 	#teambanner>div{margin:0 auto;}
	 	#teambanner #teambg{
	 		top:0;bottom: 0;
	 		position: absolute;
	 		left:-2000px;
	 		right: -2000px;
	 		background-image: url(img/tree.jpg);
	 		z-index:-100;
		 	}
	 	#face2,#face1{display:none;}
	 	#teambanner>#face3{
			z-index:1000;
			position: fixed;
			display:block;
			width: 300px;
			height: 600px;
	 	}
	 	#face3>img{
	 		margin: 15px;
	 	}
	 	#contact{
	 		position: relative;
	 		color:white;
	 		height: 400px;
	 		width: 100%;
	 		background-color: gray;
	 		margin:0;
	 	}
	 	#contact::after,#pict::after{
	 		display:block;
	 		content:"";
	 		clear:both;
	 	}
		#pict{text-align: center;
			}
	 	#pict>div{
	 	width: 335px;
		text-align: center;
	 	display:inline-block;

	 	}
	 	#pict>div>div{
	 	float:left;
		display:inline-block;
		width: 110px;


	 	}
	 	#pict>div>div>img{
	 	width: 100px;
		box-sizing:border-box;
		background-repeat:no-repeat; 
		}
	 	#contact>#contactbg{
	 		position:absolute;
	 		display: block;
	 		
	 		left:-1500px;
	 		right: -1500px;
	 		height: 400px;
	 		background-color: #444448;
	 		z-index: -1;
	 	}
	 		#contact>div{
	 			float:left;
	 			width: 500px;
	 			box-sizing:border-box;
	 			text-align: center;
	 			padding: 10px;
	 		}
	 		#contact>div>span{
	 			height:65px;
	 			padding:10px;
	 			display:block;
	 			}
	 		#contact>div>p{padding:5px 0;}
	 		#contact button{
	 			margin-top:10px;
	 			background-color: #f5f5f5;
	 			color:gray;
	 			border:0;
	 			border-radius:15px;
	 			height: 30px;
	 			
	 		}
	 		#contact button>p{padding:0 10px;height: 30px;
	 			line-height: 30px;}
	 		#contact input{height: 35px;margin:0 120px;
	 		}
	 
#footer{
	display: block;
	position: absolute;
	height: 160px;
	bottom: 0;
	color:white;
	width: 100%;
	text-align: center;
}
#footbg{
	display: block;
	background-color:black;
	position: absolute;
	left: -2000px;
	right: -2000px;
	height: 160px;
	z-index:-100;
	background-color:black;
}
#footer #footline{
position:relative;
width: 100%;
height: 160px;
background-color:black;
padding: 10px;
box-sizing:border-box;
}
#footer #footeline>div{position:absolute;
left:-2000px;
right: -2000px;
bottom: 0;
height: 120px;
top: 0;
z-index:-100;
background-color: #444444;
}
#arrow{
	width:40px;
	height: 40px;
	display: block;
	border-radius: 20px;
	background-color: white;
	float: right;
	padding:0;
}
#logofoot{float: left;
display: block;
width: 60px;}